<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>I'm working</h2>
    </div>
  </div>
  <div class="row">
    <app-recipes></app-recipes>
    <app-recipe-list></app-recipe-list>
    <app-recipe-detail></app-recipe-detail>
    <app-recipe-item></app-recipe-item>
  </div>
  <div class="row">
    <app-shopping></app-shopping>
    <app-shopping-list></app-shopping-list>
    <app-shopping-list-edit></app-shopping-list-edit>
  </div>
</div>

<!-- <app-server></app-server> -->

<footer class="container-fluid text-center">
  <p>&copy; {{author}} | {{class}} | {{date}}</p>
</footer>